.notelist {
    color: #005f73; /* темный цвет текста */

    &__shield {
        background-color: #edf6f9;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        padding: 1.5rem;
    }
    &__search{
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    h2 {
        font-size: 1.6rem;
        font-weight: bold;
        color: #005f73;
        margin-bottom: 1rem;
    }

    &__wrapper {
        margin-top: 15px;
        background-color: #edf6f9;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }

    &__ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &__li {
        padding: 0.5rem 1rem;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        transition: background-color 0.3s ease;
    }
}

.no-notes-message {
    text-align: center;
    font-size: 1.5rem;
    color: #999;
    margin-top: 2rem;
}