body {
    background-color: #edf6f9; /* Морской светлый фон для всего сайта */
    margin: 0;
    font-family: Arial, sans-serif; /* Основной шрифт для всего сайта */
    color: #005f73; /* Цвет текста, чтобы сочетаться с фоном */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    margin-bottom: 210px;
}


.main__shield {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5rem;
    padding: 1rem;

    /* Адаптивное поведение */
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        padding: 0;
    }

    .editors__wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}
