.markdown-previewer {
    padding: 16px;
    border-radius: 8px;

    &__nothing__message{
        text-align: center;
        color: black;
    }

    &__controls {
        display: flex;
        gap: 8px;
        margin-bottom: 10px;

        button {
            padding: 0.5rem 1.5rem;
            font-size: 1rem;
            font-weight: 500;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: filter 0.3s ease;
            color: #edf6f9;
            background-color: #3a86ff;
            margin-top: 10px;

            &:hover {
                filter: brightness(85%);
            }
        }
    }

    &__content {
        padding: 20px;
        background-color: #f8f9fa;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 10px 0;
        color: #333;
        line-height: 1.6;

        // Центрирование текста и заголовков
        &.center-text p,
        &.center-text ul,
        &.center-text ol,
        &.center-text blockquote,
        &.center-text code {
            text-align: center;
        }

        &.center-headings h1,
        &.center-headings h2,
        &.center-headings h3,
        &.center-headings h4,
        &.center-headings h5,
        &.center-headings h6 {
            text-align: center;
        }

        // Стили для заголовков
        h1, h2, h3, h4, h5, h6 {
            color: black;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 15px;
        }

        // Стили для ссылок
        a {
            color: #007acc;
            text-decoration: none;
            border-bottom: 1px dashed #007acc;

            &:hover {
                color: #005a9c;
                border-bottom: 1px solid #005a9c;
            }
        }

        // Стили для кода и блоков кода
        code {
            background-color: #f4f4f4;
            padding: 2px 6px;
            border-radius: 4px;
            color: #d14;
            font-family: 'Courier New', Courier, monospace;
        }

        pre {
            background-color: #f4f4f4;
            padding: 12px;
            border-radius: 4px;
            overflow-x: auto;
            color: #d14;
            font-family: 'Courier New', Courier, monospace;
        }
    }
}
